<% layout('layouts/boilerplate') %>

<h1>Registration of New User</h1>
<form action="/register" method="POST" class="mb-3 validated-form" novalidate>
    <div class="mb-3">
        <label class="form-labe" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="valid-feedback">
            Looks good!!!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-labe" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
        <div class="valid-feedback">
            Looks good!!!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-labe" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!!!
        </div>
    </div>
    <button class="btn btn-success">Register</button>
</form>
